/* Fond noir pour toute la page */
.accueil {
  background-color: #000;
  color: #fff;
  padding-bottom: 40px;
}

/* Bannière */
.main-title {
  font-size: 4rem; /* Agrandir le titre */
}

/* Section À Propos */
.about {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  text-align: center;
}

.about p {
  width: 30%;
}

/* Témoignages */
.testimonial-title {
  text-align: center;
  color: #ff3333; /* Texte en rouge */
  font-size: 2rem;
  padding-bottom: 20px;
}

.testimonial-card p, .testimonial-card h4 {
  color: #ff3333; /* Texte en rouge pour les témoignages */
}
