/* Styles pour le header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    margin: auto;
    background-color: rgba(255, 251, 251, 0.725); /* Fond semi-transparent */
    box-shadow: 0 4px 6px rgba(124, 124, 124, 0.581);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-container {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .header-logo {
    width: 50px;
    height: auto;
    border-radius: 100%;
  }
  
  /* Burger Icon - uniquement visible sur mobile */
  .burger-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 20;
    gap: 5px;
    background: none;
    border: none;
    outline: none;
  }
  
  .burger-icon .line {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease;
  }
  
  /* Animation de transformation en "X" pour le burger */
  .burger-icon.open .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .burger-icon.open .line:nth-child(2) {
    opacity: 0;
  }
  
  .burger-icon.open .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
  /* Styles pour les liens de navigation */
  .nav-links {
    display: flex;
    gap: 30px;
    transition: all 0.3s ease-in-out;
    list-style: none;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;

  }
  
  .nav-links li a:hover {
    background-color: #f27222;
    color: white;
  }
  
  /* Menu responsive pour petits écrans */
  .nav-links.open {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(214, 141, 80, 0.87);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .nav-links li a {
    font-size: 1.5em;
    transition: color 0.3s;
    color: black;
  }
  
  /* Media Query pour petits écrans */
  @media (max-width: 768px) {
    /* Affiche le burger sur les petits écrans et cache le menu horizontal */
    .burger-icon {
      display: flex;
    }
  
    .nav-links {
      display: none;
    }
  
    .nav-links.open {
      display: flex;
    }
  }
  